language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  # - "3.5" # NOTE an issue with pathlib.resolve breaks our tests on 3.5
  - "3.6"
install:
  - source libs/travis-conda-scripts/scripts/config.sh
  - bash -ex libs/travis-conda-scripts/scripts/travis_install.sh
before_script:
  # this is for running test coverage on travis
  # - pip install numpy
  # - pip install git+https://github.com/python-quantities/python-quantities.git
  # - pip install pytest pyyaml coverage codecov
  - python setup.py install
script:
  # TODO run coverage in meta.yaml instead
  # - coverage run --source exdir -m py.test -s --doctest-glob='*.rst'
  # - coverage report
  - source libs/travis-conda-scripts/scripts/config.sh
  - bash -ex libs/travis-conda-scripts/scripts/build.sh
after_success:
  - codecov
deploy:
  - provider: script
    skip_cleanup: true
    script: bash -ex libs/travis-conda-scripts/scripts/upload.sh cinpla main
    on:
      tags: true
  - provider: script
    skip_cleanup: true
    script: bash -ex libs/travis-conda-scripts/scripts/upload.sh cinpla dev
    on:
      branch: dev
